{% extends "layout.html" %}
{% block main %}
<ol class="breadcrumb">
    <li><a href="#">管理首页</a></li>
    <li><a href="#">提示</a></li>
</ol>
<h3>添加分类信息</h3>

<div class="panel {{ O.class }}">
    <div class="panel-heading">
        <h3 class="panel-title">提示</h3>
    </div>
    <div class="panel-body">
        {{O.message}}
    </div>
    <div class="panel-footer">
        <a href="javascript:window.history.back()">返回</a>
        {% if O.url %}
        <a href="{{O.url}}">返回列表</a>
        {% endif %}
    </div>
</div>
{% endblock %}